	<footer id="footer">
		<div class="wrapper-small">
			<div class="footer-content">
				<div class="footer-left">
					<a href="#" class="footer-logo"><img src="../img/vintage.svg" alt="vintage"></a>
				</div>
				<div class="footer-center">
					<ul>
						<li>Дизайн интерьеров</li>
						<li>Строительство</li>
						<li>Ландшафтный дизайн</li>
						<li>Архитектура</li>
						<li>Проектирование</li>
					</ul>
				</div>
				<div class="footer-right">
					<a href="#" class="twitter"></a>
					<a href="#" class="facebook"></a>
					<a href="#" class="vk"></a>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>