<nav class="mobile-menu">
    <div class="mobile-menu-item">
    	<div class="language">
			<a href="#">рус</a>
			<div class="language-item">
				<a href="#">укр</a>
				<a href="#">англ</a>
			</div>
		</div>
    	<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">Портфолио</a></li>
			<li><a href="#">О фиктории</a></li>
			<li><a href="#">Услуги</a></li>
			<li><a href="#">Пресса</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="socials">
			<a href="#" class="twitter"></a>
			<a href="#" class="facebook"></a>
			<a href="#" class="vk"></a>
		</div>
    </div>
</nav>
<header id="header">
	<div class="wrapper">
		<div class="header-content">
			<a href="#" class="logo"><img src="../img/vintage.svg" alt="vintage"></a>
			<div class="menu"><span>меню</span><p></p></div>
			<div class="language">
				<a href="#">рус</a>
				<div class="language-item">
					<a href="#">укр</a>
					<a href="#">англ</a>
				</div>
			</div>
		</div>
	</div>
</header>